.collection-preview {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     margin-bottom: 30px;
     margin-top: 0 0px;
     min-width: 35%;      
}
     .title {
       font-size: 28px;
       margin-bottom: 25px;
       margin: 0 auto; 
       padding-left: 25px;
     }
   
     .preview {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;   
     }
   
   