
.header {
     height: 70px;
     width: 100%;
     display: flex;
     justify-content: space-between;
     margin-bottom: 25px;
     padding-right: 30px;
    top: 0;
    width: 100%;
    
     .logo-container {
       height: 100%;
       width: 70px;
      padding-left: 0px;
      margin-left: 10px;
      padding-top: 10px;
      
     }
   
     .options {
       width: 75%;
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: flex-end;
      
   
       .option {
         padding: 10px 10px;
         cursor: pointer;
       }
     }
   }
   